$color-ppal: rgb(238, 249, 24);
$color-secundario: #fffffff7;
$color-navbar: linear-gradient(135deg, white 0% 50%, rgb(251, 251, 196));
$fuente-ppal: "Zen Dots", serif;
$fuente-sec: "Rubik Distressed", sans-serif;
$fuente-ter: "Roboot Slab", sans-serif;
$fuente-footer:Verdana, Geneva, Tahoma, sans-serif;

@mixin mains {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}