.main,
.main2,
.main3,
.main4,
.main5 {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

/*---------Estilo página INICIO-------------*/
.main {
    background-image: url("../img/gym1.JPG");
    height: 90vh;
    padding-left: .5rem;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 5rem;
}

/*---------Estilo página QUIENES SOMOS------*/
.main2 {
    background-image: url("../img/gym2.jpg");
    /*height: 80vh;*/
    flex-direction: column;
    justify-content: center;
}

/*-------Estilo página DISCIPLINAS---------*/
.main3 {
    padding: 15px 0px 0px 0px;
    background-color: rgb(61, 58, 55);
}

/*-------Estilo página DOJOS--------------*/
.main4 {
    background-image: url("../img/gym3.jpg");
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
}

/*-------Estilo página CONTACTO--------------*/
.main5 {
    background-image: url("../img/gym10.JPG");
    /*height: 100vh;*/
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 3rem;
}

/*----Estilo imágenes DISCIPLINAS-----*/
/*.mma {
    background-image: url(../img/mma.jpg);
    display: flex;
    margin-top: 15px;
    background-size: 110%;
    background-position: 60%;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100vw;
    padding: 5rem;
}

.bjj {
    background-image: url(../img/bjj.jpg);
    display: flex;
    margin-top: 15px;
    background-size: 120%;
    background-position: 60%;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100vw;
    padding-top: 5rem;
    padding-left: 3.5rem;
}

.box {
    background-image: url(../img/boxeo.jpg);
    display: flex;
    margin-top: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 65%;
    height: 35vh;
    width: 100vw;
    padding: 5rem;
}

.kick {
    background-image: url(../img/kick.jpg);
    display: flex;
    margin-top: 15px;
    background-size: 100%;
    background-position: 65%;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100vw;
    padding-top: 5rem;
    padding-left: 1rem;
}

.thai {
    background-image: url(../img/thai.jpg);
    display: flex;
    margin-top: 15px;
    background-size: 150%;
    background-position: 55%;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100vw;
    padding-top: 5rem;
    padding-left: 2rem;
}

.judo {
    background-image: url(../img/judo.jpg);
    display: flex;
    margin-top: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 65%;
    height: 35vh;
    width: 100vw;
    padding: 5rem;
}

.wrestling {
    background-image: url(../img/wrestling.jpg);
    display: flex;
    margin-top: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 35vh;
    width: 100vw;
    padding: 3rem;
}*/

/*------------------------------------*/
.contenedor {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(7, 300px);
    justify-items: stretch;
    padding-left: 2rem;
    margin-top: 2rem;
}


.nombres {
    color: $color-ppal;
    text-shadow: 1.5px 1.5px 1.5px rgb(116, 114, 114);
    font-family: "Zen Dots", serif;
    font-weight: 400;
    font-size: 28px;
    padding-top: 5rem;
}

.mma {
    background-image: url(../img/mma.jpg);
    grid-column: 1/1;
    grid-row: 1/7;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    padding-left: 5.5rem;
}

.bjj {
    background-image: url(../img/bjj.jpg);
    grid-column: 1/1;
    grid-row: 2/7;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    padding-left: 2rem;
}

.box {
    background-image: url(../img/boxeo.jpg);
    grid-column: 1/1;
    grid-row: 3/7;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    padding-left: 3.7rem;
}

.kick {
    background-image: url(../img/kick.jpg);
    grid-column: 1/1;
    grid-row: 4/7;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    padding-left: 0.5rem;
}

.thai {
    background-image: url(../img/thai.jpg);
    grid-column: 1/1;
    grid-row: 5/7;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    padding-left: 1.5rem;
}

.judo {
    background-image: url(../img/judo.jpg);
    grid-column: 1/1;
    grid-row: 6/7;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    padding-left: 4.5rem;
}

.wrestling {
    background-image: url(../img/wrestling.jpg);
    grid-column: 1/1;
    grid-row: 7/7;
    background-repeat: no-repeat;
    background-size: 250px 250px;
    padding-left: 1rem;
}

/*------------------------------------*/

a {
    text-decoration: none;
    color: #fff200;
}

footer {

    border-top: 2px solid black;
    background: rgb(240, 240, 231);
    height: 12rem;
    padding-top: 2.5rem;
    text-align: center;
}

.textofooter {
    font-size: 14px;
    color: #464646;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.duda {
    margin-top: 1.5rem;
    font-size: 21px;
    font-weight: bold;
    color: #5b4e4e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.copyright {
    background-color: antiquewhite;
    font-size: 11.5px;
    margin-top: 2rem;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    text-align: left;
    border-top: 1px solid black 50%;
}

.a {
    color: #464646;
}


/*----------------------------------------*/
/*---------ESTILIZACION DOJOS-------------*/
.titulos {
    color: $color-secundario;
    list-style: none;
    font-weight: 400;
    text-align: justify;
    font-size: 22px;
    font-family: "Zen Dots", serif;
    align-content: flex-end;
    padding-top: 0.5rem;
    padding-left: 1rem;
    text-shadow: 3px 3px 2px rgb(94, 92, 92);
}

p {
    color: $color-ppal;
    text-align: left;
    font-size: 16px;
    margin: 10px 10px 0px 0px;
    font-family: "Sintony", sans-serif;
    text-shadow: 3px 3px 2px rgb(57, 57, 57);
    padding-left: 1rem;
    border-bottom: 1px solid white;
}

.direccion {
    background-color: rgba(0, 0, 0, 0.254);
    padding-bottom: 0.5rem;
    padding-inline: 0.5rem;
}

.mapa iframe {
    position: relative;
    overflow: hidden;
    box-sizing: inherit;
    display: block;
    outline: none;
}

/*---ESTILIZACION FORMULARIO CONTACTO---*/
/*--------------------------------------*/
input {
    color: rgb(78, 75, 75);
    text-align: justify;
    font-size: 15px;
    width: 80%;
    margin: 15px 10px 10px 15px;
    font-family: "Sintony", sans-serif;
    background-color: transparent;
}

textarea {
    color: rgb(0, 0, 0);
    text-align: justify;
    font-size: 15px;
    margin: 15px 10px 10px 15px;
    width: 80%;
    height: 35vh;
    font-family: "Sintony", sans-serif;
    background-color: transparent;
    resize: none;
}

.msj {
    color: #fffffff7;
    font-weight: 400;
    text-align: left;
    font-size: 24px;
    margin: 30px 10px 20px 15px;
    font-family: "Zen Dots", serif;
    text-shadow: 2px 2px 2px rgb(238, 234, 122);
    display: flex;
    align-content: flex-start;
}

/*-----------MEDIA QUERY 480 PX-----------*/

@media (min-width:480px) {

    /*----Estilo imágenes DISCIPLINAS-----*/
    /*------------------------------------*/
    .contenedor {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: repeat(7, 270px);
        grid-row-gap: 4rem;
        justify-items: stretch;
        padding-left: 5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }

    .nombres {
        font-weight: 400;
        font-size: 35px;
    }

    .mma {
        grid-column: 1/1;
        grid-row: 1/7;
        background-size: 300px 300px;
        padding-left: 6.5rem;
    }

    .bjj {
        grid-column: 1/1;
        grid-row: 2/7;
        background-size: 300px 300px;
        padding-left: 2.5rem;
    }

    .box {
        grid-column: 1/1;
        grid-row: 3/7;
        background-size: 300px 300px;
        padding-left: 4rem;
    }

    .kick {
        grid-column: 1/1;
        grid-row: 4/7;
        background-size: 300px 300px;
        padding-left: 4.5rem;
    }

    .thai {
        grid-column: 1/1;
        grid-row: 5/7;
        background-size: 300px 300px;
        padding-left: 1.5rem;
    }

    .judo {
        grid-column: 1/1;
        grid-row: 6/7;
        background-size: 300px 300px;
        padding-left: 4.5rem;
    }

    .wrestling {
        grid-column: 1/1;
        grid-row: 7/7;
        background-size: 300px 300px;
        padding-left: 1rem;
    }

    /*------------------------------------*/

    footer {
        height: 11rem;
    }

    /*------------------------------------*/
    /*------------------------------------*/

}

/*-----------MEDIA QUERY 600 PX-----------*/

@media (min-width:600px) {

    /*----Estilo imágenes DISCIPLINAS-----*/
    .contenedor {
        display: grid;
        grid-template-columns: 300px, 300px;
        grid-template-rows: repeat(4, 270px);
        grid-gap: 0.5rem;
        justify-items: stretch;
        padding-left: 1.5rem;
        margin-top: 2rem;

    }

    .nombres {
        font-size: 30px;
    }

    .mma {
        grid-column: 1/2;
        grid-row: 1/4;
        background-size: 250px 250px;
        padding-left: 5.5rem;
    }

    .bjj {
        grid-column: 2/2;
        grid-row: 1/4;
        background-size: 250px 250px;
        padding-left: 2rem;
    }

    .box {
        grid-column: 1/2;
        grid-row: 2/4;
        background-size: 250px 250px;
        padding-left: 3.7rem;
    }

    .kick {
        grid-column: 2/2;
        grid-row: 2/4;
        background-size: 252px 252px;
        padding-left: 0.5px;
    }

    .thai {
        grid-column: 1/2;
        grid-row: 3/4;
        background-size: 250px 250px;
        padding-left: 1.5rem;
    }

    .judo {
        grid-column: 2/2;
        grid-row: 3/4;
        background-size: 250px 250px;
        padding-left: 4.5rem;
    }

    .wrestling {
        grid-column: 1/2;
        grid-row: 4/4;
        background-size: 250px 250px;
        padding-left: 1rem;
    }

    footer {
        height: 10rem;
    }

    /*------------------------------------*/
    /*------------------------------------*/

}

/*-----------MEDIA QUERY 768 PX-----------*/
@media (min-width:768px) {
    article {
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 2px rgba(238, 249, 24, 0.402);
        text-align: justify;
        font-size: 24px;
        margin: 30px 160px 20px 40px;
        font-family: "Sintony", sans-serif;
    }

    .quienes-somos {
        color: #fcfcf1c6;
        font-weight: 400;
        text-align: justify;
        font-size: 45px;
        font-family: "Zen Dots", serif;
        align-content: flex-end;
        padding-top: 6.5rem;
        text-shadow: 3px 3px 2px rgb(94, 92, 92);
    }

    footer {
        height: 8rem;
    }

    .textofooter {
        font-size: 16px;
    }

    .duda {
        font-size: 26px;
    }

    .copyright {
        font-size: 14px;
    }

    .titulos {
        font-size: 40px;
        padding-top: 2rem;
        padding-left: 2rem;
    }


    p {
        font-size: 20px;
    }

    input {
        color: rgb(78, 75, 75);
        text-align: justify;
        font-size: 20px;
        width: 60%;
        margin: 20px 20px 10px 30px;
        font-family: "Sintony", sans-serif;
        background-color: transparent;
    }

    textarea {
        color: rgb(0, 0, 0);
        text-align: justify;
        font-size: 15px;
        margin: 30px 20px 20px 30px;
        width: 60%;
        height: 50%;
        font-family: "Sintony", sans-serif;
        background-color: transparent;
        resize: none;
    }

    .msj {
        color: #fffffff7;
        font-weight: 400;
        text-align: left;
        font-size: 34.5px;
        margin: 30px 20px 20px 30px;
        font-family: "Zen Dots", serif;
        text-shadow: 2px 2px 2px rgb(238, 234, 122);
        display: flex;
        align-content: flex-end;
        padding-top: 6.5rem;
    }

    .main4 {
        padding-top: 7rem;
    }

    /*----Estilo imágenes DISCIPLINAS-----*/
    .contenedor {
        display: grid;
        grid-template-columns: 2, 330px;
        grid-template-rows: 4, 300px;
        grid-gap: 3rem;
        justify-items: stretch;
        padding-left: 4.5rem;
        margin-top: 7rem;

    }

    .nombres {
        font-size: 34px;
    }

    .mma {
        background-size: 300px 300px;
    }

    .bjj {
        background-size: 300px 300px;
    }

    .box {
        background-size: 300px 300px;
    }

    .kick {
        background-size: 300px 300px;
    }

    .thai {
        background-size: 300px 300px;
    }

    .judo {
        background-size: 300px 300px;
    }

    .wrestling {
        background-size: 300px 300px;
    }
}

/*-----------MEDIA QUERY 1024 PX-----------*/
@media (min-width:1024px) {

    .main,
    .main2,
    .main5 {
        height: 100vh;
    }

    .main3 {
        height: 140vh;
        flex-direction: row;
        padding: 40px 0px 45px 0px;
        /*justify-content: space-evenly;*/
    }

    /*----Estilo imágenes DISCIPLINAS-----*/
    .contenedor {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(3, 300px);
        grid-gap: 1.5rem;
        justify-items: stretch;
        padding-left: 1.5rem;
        margin-top: 6rem;

    }

    .nombres {
        font-size: 32px;
    }

    .mma {
        grid-column: 1/3;
        grid-row: 1/3;
        background-size: 300px 300px;
        padding-left: 5.5rem;
    }

    .bjj {
        grid-column: 2/3;
        grid-row: 1/3;
        background-size: 300px 300px;
        padding-left: 3rem;
    }

    .box {
        grid-column: 3/3;
        grid-row: 1/3;
        background-size: 300px 300px;
        padding-left: 3.7rem;
    }

    .kick {
        grid-column: 1/3;
        grid-row: 2/3;
        background-size: 300px 300px;
        padding-left: 6.5px;
    }

    .thai {
        grid-column: 2/3;
        grid-row: 2/3;
        background-size: 300px 300px;
        padding-left: 2.5rem;
    }

    .judo {
        grid-column: 3/3;
        grid-row: 2/3;
        background-size: 300px 300px;
        padding-left: 5.5rem;
    }

    .wrestling {
        grid-column: 1/3;
        grid-row: 3/3;
        background-size: 300px 300px;
        padding-left: 1.5rem;
    }

    footer {
        height: 10rem;
    }
}

/*------------------------------------*/
/*------------------------------------*/


/*-----------MEDIA QUERY 1200 PX-----------*/
@media (min-width:1200px) {
    .contenedor {
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(3, 300px);
        padding-left: 2.5rem;
    }

    .nombres {
        font-size: 40px;
    }

    .mma {
        background-size: 350px 300px;
    }

    .bjj {
        background-size: 350px 300px;
    }

    .box {
        background-size: 350px 300px;
        padding-left: 5rem;
    }

    .kick {
        background-size: 350px 300px;
    }

    .thai {
        background-size: 350px 300px;
    }

    .judo {
        background-size: 350px 300px;
    }

    .wrestling {
        background-size: 350px 300px;
    }
}