* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    background-color: rgb(238, 233, 226);
}

.logo {
    width: 70px;
    height: 70px;
}

ul,
ol {
  list-style: none;
}

@media (min-width: 768px) {
    .logo {
      width: 85px;
      height: 85px;
    }
}

@media (min-width: 1024px) {
    .logo{
        width:90px;
        height:88px;
    }
}

/*-----------MEDIA QUERY 1200 PX-----------*/
@media (min-width:1200px){
    .logo {
        width: 100px;
        height: 90px;
      }
}